<div class = "navbar">
        <div class="container">
            <a href="#">ToyatoBharat</a>
            <nav>
                <ul class="primary-nav">
                    <li class = "current"><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Virtual showroom</a></li>
                    <li><a href="#">More </a></li>
                </ul>
                <ul class="secondary-nav">
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </nav>

        </div>
</div>